.custom-link {
  color: #333; /* Custom color for links */
  font-family: "Arial", sans-serif; /* Custom font family */
  font-size: 16px; /* Custom font size */
  text-decoration: none; /* Remove underline */
}

.custom-link:hover {
  color: #f80808; /* Change link color on hover */
}
